In [1]:
import pandas as pd
import numpy as np
import os
import requests
import json
from datetime import datetime

Step 4: In a new notebook, import all necessary libraries, read in your data, and join it. Hint: what’s the most effective way to import and join data in such a format?

In [2]:
folderpath = r"Data" # make sure to put the 'r' in front
filepath = [os.path.join(folderpath, name) for name in os.listdir(folderpath)]

In [3]:
dtype_mapping = {5: str, 7: str}

In [4]:
dfs = []
for f in filepath:
        dfs.append(pd.read_csv(f, dtype=dtype_mapping))
df = pd.concat(dfs, ignore_index=True)

In [5]:
df.head(5)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,CA5837152804D4B5,electric_bike,2022-01-26 18:50:39,2022-01-26 18:51:53,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member
1,BA06A5E45B6601D2,classic_bike,2022-01-28 13:14:07,2022-01-28 13:20:23,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,40.712774,-74.036486,member
2,7B6827D7B9508D93,classic_bike,2022-01-10 19:55:13,2022-01-10 20:00:37,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,40.712774,-74.036486,member
3,6E5864EA6FCEC90D,electric_bike,2022-01-26 07:54:57,2022-01-26 07:55:22,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member
4,E24954255BBDE32D,electric_bike,2022-01-13 18:44:46,2022-01-13 18:45:43,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member

In [6]:
df.tail(5)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
895480,D438F1622839AC50,classic_bike,2022-12-06 15:43:38,2022-12-06 15:53:57,Dey St,JC065,Riverview Park,JC057,40.737828,-74.067083,40.744319,-74.043991,member
895481,747A63A8E782D171,electric_bike,2022-12-08 08:17:51,2022-12-08 08:23:33,9 St HBLR - Jackson St & 8 St,HB305,City Hall - Washington St & 1 St,HB105,40.747907,-74.038412,40.737360,-74.030970,casual
895482,AE090858CFDE6E82,electric_bike,2022-12-23 14:10:07,2022-12-23 14:14:18,Mama Johnson Field - 4 St & Jackson St,HB404,City Hall - Washington St & 1 St,HB105,40.743140,-74.040041,40.737360,-74.030970,member
895483,B3CC8E70AF4E259C,classic_bike,2022-12-02 04:43:25,2022-12-02 04:46:55,Mama Johnson Field - 4 St & Jackson St,HB404,City Hall - Washington St & 1 St,HB105,40.743135,-74.040080,40.737360,-74.030970,member
895484,176B601F21327350,classic_bike,2022-12-30 14:50:17,2022-12-30 14:55:37,14 St Ferry - 14 St & Shipyard Ln,HB202,City Hall - Washington St & 1 St,HB105,40.752747,-74.024035,40.737360,-74.030970,member

Step 5: Leave a comment that describes how the code you wrote in point 4 works.

Answer to Step 5: My code works by first creating a list of all CitiBike 2022 csv files. We then read and combine them together into one df, making sure that columns 'start_station_name' and 'end_station_name' are read as only string, as they contain mixed datatypes.

In [7]:
path = r"C:\Users\stefa\CitiBike"

In [8]:
df_temp = pd.read_csv(os.path.join(path, 'Weather Data', 'LaGuardia Airport Average Temp 2022.csv'),  index_col = False)

In [9]:
df_temp = df_temp.drop(columns = ['STATION', 'NAME'])

Checking column removal

In [10]:
df_temp.head(5)

         DATE  TAVG
0  2022-01-01    53
1  2022-01-02    53
2  2022-01-03    35
3  2022-01-04    27
4  2022-01-05    38

In [11]:
df_temp.tail(5)

           DATE  TAVG
360  2022-12-27    31
361  2022-12-28    38
362  2022-12-29    44
363  2022-12-30    49
364  2022-12-31    47

In [12]:
df_temp.rename(columns={'TAVG': 'Average Tempurature', 'DATE': 'Date'}, inplace=True)

In [13]:
#Confirming column name change
df_temp

           Date  Average Tempurature
0    2022-01-01                   53
1    2022-01-02                   53
2    2022-01-03                   35
3    2022-01-04                   27
4    2022-01-05                   38
..          ...                  ...
360  2022-12-27                   31
361  2022-12-28                   38
362  2022-12-29                   44
363  2022-12-30                   49
364  2022-12-31                   47

[365 rows x 2 columns]

In [14]:
df_temp['Average Tempurature'] = df_temp['Average Tempurature'] / 10

In [15]:
df_temp

           Date  Average Tempurature
0    2022-01-01                  5.3
1    2022-01-02                  5.3
2    2022-01-03                  3.5
3    2022-01-04                  2.7
4    2022-01-05                  3.8
..          ...                  ...
360  2022-12-27                  3.1
361  2022-12-28                  3.8
362  2022-12-29                  4.4
363  2022-12-30                  4.9
364  2022-12-31                  4.7

[365 rows x 2 columns]

df_temp['Date'] = pd.to_datetime(df_temp['Date'])

In [16]:
df['started_at'] = pd.to_datetime(df['started_at'], dayfirst = True)
df['Date'] = pd.to_datetime(df['started_at'], format='%Y-%m-%d').dt.date

C:\Users\stefa\AppData\Local\Temp\ipykernel_25380\3622720062.py:1: UserWarning: Parsing dates in %Y-%m-%d %H:%M:%S format when dayfirst=True was specified. Pass `dayfirst=False` or specify a format to silence this warning.
  df['started_at'] = pd.to_datetime(df['started_at'], dayfirst = True)

In [17]:
df.tail(5)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,Date
895480,D438F1622839AC50,classic_bike,2022-12-06 15:43:38,2022-12-06 15:53:57,Dey St,JC065,Riverview Park,JC057,40.737828,-74.067083,40.744319,-74.043991,member,2022-12-06
895481,747A63A8E782D171,electric_bike,2022-12-08 08:17:51,2022-12-08 08:23:33,9 St HBLR - Jackson St & 8 St,HB305,City Hall - Washington St & 1 St,HB105,40.747907,-74.038412,40.737360,-74.030970,casual,2022-12-08
895482,AE090858CFDE6E82,electric_bike,2022-12-23 14:10:07,2022-12-23 14:14:18,Mama Johnson Field - 4 St & Jackson St,HB404,City Hall - Washington St & 1 St,HB105,40.743140,-74.040041,40.737360,-74.030970,member,2022-12-23
895483,B3CC8E70AF4E259C,classic_bike,2022-12-02 04:43:25,2022-12-02 04:46:55,Mama Johnson Field - 4 St & Jackson St,HB404,City Hall - Washington St & 1 St,HB105,40.743135,-74.040080,40.737360,-74.030970,member,2022-12-02
895484,176B601F21327350,classic_bike,2022-12-30 14:50:17,2022-12-30 14:55:37,14 St Ferry - 14 St & Shipyard Ln,HB202,City Hall - Washington St & 1 St,HB105,40.752747,-74.024035,40.737360,-74.030970,member,2022-12-30

In [18]:
df['Date'] = pd.to_datetime(df['Date'])

In [19]:
df_temp['Date'] = pd.to_datetime(df_temp['Date'])

In [20]:
df.dtypes

ride_id                       object
rideable_type                 object
started_at            datetime64[ns]
ended_at                      object
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
start_lat                    float64
start_lng                    float64
end_lat                      float64
end_lng                      float64
member_casual                 object
Date                  datetime64[ns]
dtype: object

In [21]:
df_temp.dtypes

Date                   datetime64[ns]
Average Tempurature           float64
dtype: object

In [22]:
%%time
df_merged = df.merge(df_temp, how = 'left', on = 'Date', indicator = True)

CPU times: total: 484 ms
Wall time: 497 ms

In [23]:
df_merged['_merge'].value_counts(dropna = False)

_merge
both          895485
left_only          0
right_only         0
Name: count, dtype: int64

In [24]:
df_merged

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,Date,Average Tempurature,_merge
0,CA5837152804D4B5,electric_bike,2022-01-26 18:50:39,2022-01-26 18:51:53,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member,2022-01-26,2.8,both
1,BA06A5E45B6601D2,classic_bike,2022-01-28 13:14:07,2022-01-28 13:20:23,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,40.712774,-74.036486,member,2022-01-28,3.2,both
2,7B6827D7B9508D93,classic_bike,2022-01-10 19:55:13,2022-01-10 20:00:37,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,40.712774,-74.036486,member,2022-01-10,3.5,both
3,6E5864EA6FCEC90D,electric_bike,2022-01-26 07:54:57,2022-01-26 07:55:22,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member,2022-01-26,2.8,both
4,E24954255BBDE32D,electric_bike,2022-01-13 18:44:46,2022-01-13 18:45:43,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member,2022-01-13,3.9,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895480,D438F1622839AC50,classic_bike,2022-12-06 15:43:38,2022-12-06 15:53:57,Dey St,JC065,Riverview Park,JC057,40.737828,-74.067083,40.744319,-74.043991,member,2022-12-06,4.9,both
895481,747A63A8E782D171,electric_bike,2022-12-08 08:17:51,2022-12-08 08:23:33,9 St HBLR - Jackson St & 8 St,HB305,City Hall - Washington St & 1 St,HB105,40.747907,-74.038412,40.737360,-74.030970,casual,2022-12-08,5.3,both
895482,AE090858CFDE6E82,electric_bike,2022-12-23 14:10:07,2022-12-23 14:14:18,Mama Johnson Field - 4 St & Jackson St,HB404,City Hall - Washington St & 1 St,HB105,40.743140,-74.040041,40.737360,-74.030970,member,2022-12-23,4.5,both
895483,B3CC8E70AF4E259C,classic_bike,2022-12-02 04:43:25,2022-12-02 04:46:55,Mama Johnson Field - 4 St & Jackson St,HB404,City Hall - Washington St & 1 St,HB105,40.743135,-74.040080,40.737360,-74.030970,member,2022-12-02,3.8,both
895484,176B601F21327350,classic_bike,2022-12-30 14:50:17,2022-12-30 14:55:37,14 St Ferry - 14 St & Shipyard Ln,HB202,City Hall - Washington St & 1 St,HB105,40.752747,-74.024035,40.737360,-74.030970,member,2022-12-30,4.9,both

In [25]:
df_merged.to_csv(os.path.join(path, 'Prepared Data', 'CitiBikeWeather.csv'))