In [1]:
import os
import pandas as pd

In [2]:
path = r"C:\Users\stefa\CitiBike"

In [3]:
df = pd.read_csv(os.path.join(path, 'Prepared Data', 'CitiBikeWeatherWrangled.csv'),  index_col = False)

In [4]:
df['value'] = 1 
df_groupby_bar = df.groupby('start_station_name', as_index=False).agg({'value': 'sum'})
top20 = df_groupby_bar.nlargest(20, 'value')

In [5]:
top20.to_csv(os.path.join(path, 'Top20.csv'))

In [6]:
df

,date,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,average_tempurature,bike_rides_daily,_merge,value
0,2022-01-01,09517A19F52C8FE4,classic_bike,2022-01-01 14:51:51,2022-01-01 15:24:32,Newport PATH,JC066,Newport PATH,JC066,40.727224,-74.033759,40.727224,-74.033759,casual,11.6,592,both,1
1,2022-01-01,C7B485FB3EEC674C,classic_bike,2022-01-01 15:12:06,2022-01-01 15:27:53,Bergen Ave,JC095,Washington St,JC098,40.722104,-74.071455,40.724294,-74.035483,casual,11.6,592,both,1
2,2022-01-01,A68C233443AF7685,classic_bike,2022-01-01 20:16:22,2022-01-01 20:22:58,Sip Ave,JC056,Bergen Ave,JC095,40.730897,-74.063913,40.722104,-74.071455,member,11.6,592,both,1
3,2022-01-01,F68B9199E986F2CA,classic_bike,2022-01-01 18:57:13,2022-01-01 19:06:56,Newport Pkwy,JC008,Jersey & 3rd,JC074,40.728745,-74.032108,40.723332,-74.045953,member,11.6,592,both,1
4,2022-01-01,F599BA9B9A1161ED,classic_bike,2022-01-01 00:24:59,2022-01-01 00:35:17,Columbus Dr at Exchange Pl,JC106,Jersey & 3rd,JC074,40.716870,-74.032810,40.723332,-74.045953,casual,11.6,592,both,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895480,2022-12-31,E15E8C86E750FFC9,classic_bike,2022-12-31 13:09:55,2022-12-31 13:31:52,Bergen Ave & Stegman St,JC108,Pershing Field,JC024,40.706717,-74.086701,40.742677,-74.051789,casual,8.2,983,both,1
895481,2022-12-31,90E6D2FBD15566F4,classic_bike,2022-12-31 10:59:20,2022-12-31 11:09:45,City Hall - Washington St & 1 St,HB105,11 St & Washington St,HB502,40.737360,-74.030970,40.749985,-74.027150,casual,8.2,983,both,1
895482,2022-12-31,E7B1948B2FEEFC0C,classic_bike,2022-12-31 10:23:10,2022-12-31 10:32:37,9 St HBLR - Jackson St & 8 St,HB305,12 St & Sinatra Dr N,HB201,40.747907,-74.038412,40.750604,-74.024020,member,8.2,983,both,1
895483,2022-12-31,EB091A5358CE2ECE,classic_bike,2022-12-31 10:25:42,2022-12-31 10:29:23,Grove St PATH,JC115,Dixon Mills,JC076,40.719410,-74.043090,40.721630,-74.049968,member,8.2,983,both,1
895484,2022-12-31,FA8BBCE78CDE9AEB,classic_bike,2022-12-31 00:11:22,2022-12-31 00:26:06,8 St & Washington St,HB603,Van Vorst Park,JC035,40.745928,-74.028123,40.718489,-74.047727,member,8.2,983,both,1

In [7]:
df_weather = df[['date', 'average_tempurature', 'bike_rides_daily']].drop_duplicates()

In [8]:
df_weather

              date  average_tempurature  bike_rides_daily
0       2022-01-01                 11.6               592
592     2022-01-02                 11.4              1248
1840    2022-01-03                  1.4               832
2672    2022-01-04                 -2.7               934
3606    2022-01-05                  3.2               914
...            ...                  ...               ...
888524  2022-12-27                 -0.7              1049
889573  2022-12-28                  3.4              1399
890972  2022-12-29                  6.4              1601
892573  2022-12-30                  9.3              1929
894502  2022-12-31                  8.2               983

[365 rows x 3 columns]

In [ ]:
df_weather.to_csv(os.path.join(path, 'df_weather.csv'))